:root {
    --primary-color: #2c3e50;
    --secondary-color: #34495e;
    --accent-color: #e74c3c;
    --text-color: #333;
    --light-bg: #ecf0f1;
    --white: #ffffff;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.back_button {
    position: relative;
    display: inline-block;
    background-color: transparent;
    padding: 14px;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: color 0.3s ease;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
} 

.back_container {
    position: relative; 
    display: inline-block;
}


.back_button:hover  {
    color: var(--accent-color)
} 

.back_container::after {
    content: '';
    position: absolute;
    right: 90%; 
    top: 50%;
    transform: translateY(-50%);
    border: solid white;
    border-width: 6px 6px 6px 0; 
    border-color: transparent white transparent transparent; 
}

.back_container:hover::after {
    border-color: transparent var(--accent-color) transparent transparent;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 0 20px;
    }
    
.search-bar input {
    width: 100%;
    max-width: 400px;
    padding: 10px 20px;
    border: 2px solid #2c3e50;
    border-radius: 50px; 
    font-size: 16px;
    outline: none;
    }
    
.search-bar input:focus {
    border-color: #6495ED;
    }   

