:root {
    --primary-color: #2c3e50;
    --secondary-color: #34495e;
    --accent-color: #e74c3c;
    --text-color: #333;
    --light-bg: #ecf0f1;
    --white: #ffffff;
}

body {
    background-color: var(--light-bg);
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

h2 {
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
}

.container {
    background: var(--white);
    padding: 2em;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

form {
    flex-direction: column;
    align-items: center;
}

form p {
    margin-bottom: 15px;
    text-align: left;
}

form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;
    background-color: var(--light-bg);
}

button[type="submit"] {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    color: var(--white);
    width: 100%;
    max-width: 300px;
    margin-top: 15px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button[type="submit"]:hover {
    background-color: var(--primary-color);
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}



ul.errorlist {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--accent-color);
    font-size: 14px;
    margin-bottom: 20px;
}

li {
    padding: 5px 0;
}

/* Стиль для підказок */
#id_new_password2_helptext.helptext {
    font-size: 12px; /* Встановіть бажаний розмір шрифту */
    color: var(--secondary-color);
}

@media (max-width: 500px) {
    form {
        padding: 15px;
    }
    button[type="submit"] {
        font-size: 14px;
    }
}


header {
    position: fixed;
    display: flex;
    background-color: var(--primary-color);
    color: var(--white);
    padding: 1rem 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    left: 0; 
    top: 0; 
    z-index: 1000; 
}

.container.head {
    max-width: 100%; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.header-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 0 20px;
}



.back_button {
    position: relative;
    display: inline-block;
    background-color: transparent;
    display: flex;
    padding: 14px;
    font-size: 16px;
    color: var(--white);
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    transition: color 0.3s ease;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    /* transition: var(--background) 0.3s ease; */
} 

.back_container {
    position: relative; 
    margin-right: auto;
    display: inline-block;
    transition: color 0.3s ease;
}

.label_name{
  font-family: 'Libre Baskerville', serif;
  font-size: 1.8rem;
  font-weight: 700;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.back_button:hover  {
    color: var(--accent-color);
    transition: color 0.3s ease;
} 

.back_container::after {
    content: '';
    position: absolute;
    right: 90%; 
    top: 50%;
    transform: translateY(-50%);
    border: solid white;
    border-width: 6px 6px 6px 0; 
    border-color: transparent white transparent transparent; 
}

.back_container:hover::after {
    border-color: transparent var(--accent-color) transparent transparent;
    transition: color 0.3s ease;
}