:root {
    --primary-color: #2c3e50;
    --secondary-color: #34495e;
    --accent-color: #e74c3c;
    --text-color: #333;
    --light-bg: #ecf0f1;
    --white: #ffffff;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--light-bg);
    color: var(--text-color);
    margin: 0;
    padding: 0;
}


.movie-detail {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
    padding: 20px;
    max-width: 900px;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.movie-cover {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */

}

.movie-cover img {
    
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--light-bg);
}

.movie-info {
    flex: 1;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.movie-info p {
    font-size: 16px;
    line-height: 1.5;
    /* margin: 5px 0; */
    margin: 0;
    padding: 0;
    text-indent: 0;
    
}

.movie-info strong {
    color: var(--secondary-color);
    font-weight: 600;
}

.movie-info p:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .movie-detail {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .movie-info {
        align-items: center;
        max-width: 100%;
    }

}


p {
    margin: 0;
    padding: 0; 
    line-height: 1.5;
}

.logo {
    text-decoration: none;
    margin-left: 80%;
    color: var(--light-bg);
    font-family: 'Libre Baskerville', serif;
    font-size: 1.8rem;
    font-weight: 700;
    margin-right: 7%;
}


 
.movie-actions {
    margin-top: 10%;
    display: block;
    top: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.action-button {
    background-color:transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: var(--white);
    border: none;
    font-weight: 700;
    /* padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px; */
    cursor: pointer;
}

.mark-aswatched,  .watch-later {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--white);
    width: 80%;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.movie-actions .watch-later{
    /* color: var(--text-color); */
    /* background-color: rgb(255, 128, 147); */
    background-color: #f1c40f;
}

.movie-actions .mark-aswatched{
   /* background-color:  rgb(40, 164, 40); */
   background-color: #2ecc71;
}

.movie-actions .mark-aswatched:hover{
    transform: scale(1.05);
}


.movie-actions .watch-later:hover{
    transform: scale(1.05);
}

.bi.bi-suit-heart {
    margin-bottom: -2%;
    margin-left: 0px;

} 

.bi.bi-check-lg {
    margin-bottom: -2%;  
}


.default-picture-movie{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url('/media/default_picture_movie.png');
}